<div ng-controller="ClientSearchController" ng-init="initializeController()">
	<div class="title-position box-shadow-1 clearfix">
		<h1>客户</h1>
		<h2><a class="glyphicon glyphicon-home" href=""><i>首页</i></a> > 客户</h2>
	</div>

	<div class="content">
		<div class="client">
			<div class="client-search">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-10"><input type="text" class="form-control" id="keyword" ng-model="keyword" placeholder="输入客户手机号或证件号码可查看客户画像" ng-disabled="btnDisabled"></div>
						<div class="col-xs-2 client-search-btn"><button type="submit" class="btn btn-primary" ng-click="checkDetails()" ng-disabled="btnDisabled">{{btnTitle}}</button></div>
					</div>
				</div>
			</div>
			<img src="images/client-banner.jpg" alt="" class="client-banner">
		</div>
	</div>
</div>

