<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxit.mgt.customer.dao.SFollowRecordDao">
	 
	 <resultMap id="SFollowRecordMap" type="com.sxit.mgt.customer.vo.SFollowRecordModel" >
		<result column="followtype" property="followtype" jdbcType="INTEGER" />
		<result column="followcontent" property="followcontent" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="createtime" property="createtime" jdbcType="DATE" />
		<result column="projguid" property="projguid" jdbcType="VARCHAR" />
		<result column="projname" property="projname" jdbcType="VARCHAR" />
		<result column="consultantname" property="consultantname" jdbcType="VARCHAR" />
		<result column="consultantmobile" property="consultantmobile" jdbcType="VARCHAR" />
		<result column="roomName" property="roomName" jdbcType="VARCHAR" />
		<result column="roomGUID" property="roomGUID" jdbcType="VARCHAR" />
		<result column="money" property="money" jdbcType="DOUBLE" />
		<result column="contractNo" property="contractNo" jdbcType="VARCHAR" />
	 </resultMap>

	<select id="getSFollowRecordById" resultMap="SFollowRecordMap" parameterType="java.lang.Long">
		select 
		sf.createTime createTime, 
		sf.projGUID projguid,
		bp.projName projname, 
		sf.followType followType, 
		sf.followContent followContent, 
		sf.remark remark,
		sf.roomName roomName,
		sf.roomGUID roomGUID,
		sf.principal consultantname,
		sf.contactPhone consultantmobile,
		sf.money money,
		sf.contractNO contractNo
		from
		(
			select
			userGUID,
			projGUID,
			createTime,
			followType,
			followContent,
			remark,
			roomName,
			roomGUID,
			principal,
			contactPhone,
			money,
			contractNO
			from
			s_followrecord
			where
			cstGUID = #{cstGUID}
			order by createTime DESC
			limit 0, 20
		) sf 
		LEFT JOIN b_proj bp 
		on sf.projGUID = bp.projGUID 
    </select>

</mapper>
