<div ng-controller="ProjectDetailsController" ng-init="initializeController()">
	

	<div class="title-position box-shadow-1 clearfix">
		<h1><a href="javascript:;" class="history-back back-button">返回</a>项目画像</h1>
		<h2><a class="glyphicon glyphicon-home" href=""><i>首页</i></a> > 项目 > 项目画像</h2>
	</div>


	<!-- <div>
	
	
		<highchart class="chart" config='chartConfig0'></highchart>
	
	</div> -->



	<div class="content">
		<div class="content-main">
			<div class="client-details-header clearfix">

				<div class="project-details-info">

					<div ng-model="houseName" class="project-photo"><img src="images/project-photo.png" class="box-shadow-1" alt=""></div>


					<div class="btn-group project-select no-padding" dropdown keyboard-nav>
				       <a id="project-select-btn" type="button" class="btn btn-primary box-shadow-1" dropdown-toggle>
				        {{houseName.proj_name}}</a>
				        <!-- <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
				            <li role="menuitem"><a href="javascript:;">花园城一期</a></li>
				            <li class="divider"></li>
				            <li role="menuitem"><a href="javascript:;">花园城二期</a></li>
				            <li class="divider"></li>
				            <li role="menuitem"><a href="javascript:;">花园城三期</a></li>
				        </ul> -->
				    </div>

					

					<div class="client-details-info box-shadow-1 border-radius-2">
						<h4>基本信息</h4>


						<div class="client-info-other" ng-model="bproj">
							<dl>
								<dt>编号</dt>
								<dd>{{bproj.projCode}}</dd>
							</dl>
							<dl>
								<dt>地址</dt>
								<dd>{{bproj.projAddress}}</dd>
							</dl>
							<dl>
								<dt>占地面积</dt>
								<dd>{{bproj.occupyArea}}</dd>
							</dl>
							<dl>
								<dt>建筑面积</dt>
								<dd>{{bproj.buildArea}}</dd>
							</dl>
							<dl>
								<dt>产权年限</dt>
								<dd></dd>
							</dl> 
							<dl>
								<dt>项目公司</dt>
								<dd>{{bproj.orgName}}</dd>
							</dl>
							<!-- <dl>
								<dt>物业公司</dt>
								<dd></dd>
							</dl>-->
							<dl>
								<dt>楼栋数</dt>
								<dd>{{bproj.buildNum}}</dd>
							</dl>
							<dl>
								<dt>房源量</dt>
								<dd><a ui-sref="app.project.salesQuery({'projectId': bproj.projGUID})">{{bproj.roomNum}}</a></dd>
								<!-- <dd>{{bproj.roomNum}}</dd> -->
							</dl>
							<dl>
								<dt>已售</dt>
								<dd>{{bproj.selledNum}}套</dd>
							</dl>
							<dl>
								<dt>在售</dt>
								<dd>{{bproj.noSellNum}}套</dd>
							</dl>
							<!-- <dl>
								<dt>客服户数</dt>
								<dd><a ui-sref="app.project.customerQuery({'projectId':'1001'})">880户</a></dd>
							</dl>
							<dl>
								<dt>物业户数</dt>
								<dd><a ui-sref="app.project.propertyQuery({'projectId':'1001'})">980户</a></dd>
							</dl>
							<dl>
								<dt>项目性质</dt>
								<dd>自有</dd>
							</dl>
							<dl>
								<dt>盘源数</dt>
								<dd><a ui-sref="app.project.diskQuery({'projectId':'1001'})">1460套</a></dd>
							</dl>
							<dl>
								<dt>已出售</dt>
								<dd>680套</dd>
							</dl>
							<dl>
								<dt>已租赁</dt>
								<dd>780套</dd>
							</dl> -->
						</div>
					</div>

				</div>

				<div class="features-container">
					<div class="project-details-feature box-shadow-1 border-radius-2">

						<tabset justified="true">
							<tab heading="项目指标" select="setHeight()">
								<div class="project-details-content box-shadow-1 project-details-quota">
									<h2 class="clearfix">关键指标
										<span class="pull-right">
											<select class="form-control" name="" id="">
												<option value="1">销售</option>
												<option value="2">客服</option>
												<option value="3">物业</option>
												<option value="4">置业</option>
											</select>
										</span>
									</h2>
									<div class="project-content-main">
										<table class="table">
											<tbody>
												<tr ng-model="houseDetails">
													<td>跟进客户数：{{houseDetails.follow_customer_sum}}</td>
													<td>新客到访数：{{houseDetails.new_visitors_sum}}</td>
													<td>老客到访数：{{houseDetails.old_visitors_sum}}</td>
												</tr>
												<tr>
													<td>认筹客户数：{{houseDetails.confess_customer_sum}}</td>
													<td>认筹套数：{{houseDetails.confess_cycle_sum}}</td>
													<td>认筹金额：{{houseDetails.confess_amount_sum}} 万</td>
												</tr>
												<tr>
													<td>认购客户数：{{houseDetails.subscribe_customer_sum}}</td>
													<td>认购套数：{{houseDetails.subscribe_cycle_sum}}</td>
													<td>认购金额：{{houseDetails.subscribe_amount_sum}} 万</td>
												</tr>
												<tr>
													<td>签约客户数：{{houseDetails.contract_customer_sum}}</td>
													<td>签约套数：{{houseDetails.contract_cycle_sum}}</td>
													<td>签约金额：{{houseDetails.contract_amount_sum}} 万</td>
												</tr>
												<tr>
													<td>回款客户数：{{houseDetails.returned_customer_sum}}</td>
													<td>回款套数：{{houseDetails.returned_cycle_sum}}</td>
													<td>回款金额：{{houseDetails.returned_amount_sum}} 万</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="project-details-content box-shadow-1 project-details-exponential">
									<h2>业态指数</h2>
									<div class="project-content-main container-fluid clearfix">

										<div class="row">
											<div class="project-content-chart col-xs-4">
												<div class="exponential-main-inside">
													<highchart class="chart" config="chartConfig1"></highchart>
												</div>
												<div class="exponential-main-list"><span><i></i>认购</span><span class="tab2"><i></i>签约</span><span class="tab3"><i></i>在售</span></div>
											</div>
											<div class="project-content-chart col-xs-4" ng-repeat="chart in exponential">
												<highchart class="chart" config="chart.chartConfig"></highchart>
												<div class="exponential-main-tip">
													<p>{{chart.percent}}</p>
													<p>{{chart.finished}}/{{chart.total}}</p>
												</div>
												<div class="exponential-main-list">{{chart.title}}</div>
											</div>
											<!-- <div class="project-content-chart col-xs-4">
												<highchart class="chart" config="chartConfig3"></highchart>
												<div class="exponential-main-tip">
													<p>30%</p>
													<p>60/200</p>
												</div>
												<div class="exponential-main-list">成交套数（套）</div>
											</div> -->
										</div>
									</div>
								</div>
								<div class="project-details-content box-shadow-1 project-details-process">
									<h2>关键流程分析</h2>
									<div class="project-content-main container-fluid">
										<div class="row">
											<div class="col-xs-6">
												<div project-process title="到访----认购时间" used-days="{{proccess.visit_days}}" baseline="{{proccess.average_baseline_days}}"></div>
												<!-- <div class="project-process">
													<div class="process-title">到访----认购时间<b>12</b>天</div>
													<div class="process-bar clearfix">
														<div class="process-bar-inside exceeding pull-right"></div>
													</div>
													<div class="process-info clearfix">
														<span class="pull-left">平均基线：10天</span>
														<span class="pull-right">超出：2天</span>
													</div>
												</div> -->
											</div>
											<div class="col-xs-6">
												<div project-process title="认购----签约时间" used-days="{{proccess.confess_days}}" baseline="{{proccess.average_order_baseline_days}}"></div>
												<!-- <div class="project-process">
													<div class="process-title">认购----签约时间<b>5</b>天</div>
													<div class="process-bar clearfix">
														<div class="process-bar-inside pull-left"></div>
													</div>
													<div class="process-info clearfix">
														<span class="pull-left">所用时间：5天</span>
														<span class="pull-right">平均基线：7天</span>
													</div>
												</div> -->
											</div>
										</div>
									</div>
								</div>
								<div class="project-details-content box-shadow-1 project-details-fractional">
									<h2>转化率分析</h2>
									<div class="project-content-main container-fluid clearfix">

										<div class="row">
											<div class="project-content-chart col-xs-4" ng-repeat="chart in fractional">
												<highchart class="chart" config="chart.chartConfig"></highchart>
												<div class="exponential-main-tip">
													<p>{{chart.percent}}</p>
													<p>{{chart.finished}}/{{chart.total}}</p>
												</div>
												<div class="exponential-main-list">{{chart.title}}</div>
											</div>
										</div>
									</div>
								</div>
							</tab>
							<tab heading="项目动态" select="setHeight()">
								<div class="project-details-content project-details-dynamic">
									<h2>动态轨迹<span class="pull-right">本项目7天内的最新动态</span></h2>
									<div class="track-list-container">
										<div class="client-track-list" on-finish-render-filters>
											<dl class="clearfix" ng-repeat="sf in sFList" ng-class="{'last' : $last}">
												<dt><i class="icon1" ng-class="{'icon10':sf.followtype==1, 
						 									'icon10':sf.followtype==2, 
						 									'icon5':sf.followtype==3, 
						 									'icon8':sf.followtype==4, 
						 									'icon3':sf.followtype==5, 
						 									'icon2':sf.followtype==6, 
						 									'icon7':sf.followtype==7,
						 									'icon7':sf.followtype==8}"></i></dt>
												<dd>
													<p class="time">{{sf.createtime|strToDate|date:'yyyy-MM-dd HH:mm'}}</p>
													<p>{{sf.cstName}}</p>
													<p class="track-tip">{{sf.followtype==1?'预约':
														sf.followtype==2?'来电':
														sf.followtype==3?'到访':
														sf.followtype==4?'认筹':
														sf.followtype==5?'认购':
														sf.followtype==6?'签约':
														sf.followtype==7?'回款':
														sf.followtype==8?'其它':'其它'}}
													{{sf.followcontent!=null?'，'+sf.followcontent:""}} {{sf.consultantname!=null?"，"+"互动关联人：置业顾问 "+sf.consultantname : ''}}{{sf.consultantmobile!=null?"  " + sf.consultantmobile:''}}</p>
												</dd>
											</dl>
											<!-- 
											<dl class="clearfix">
												<dt><i class="icon2"></i></dt>
												<dd>
													<p>2015-05-04 15:00</p>
													<p>高明明</p>
													<p class="track-tip">签约，房源4栋A单元608房间，互动关联人：职业顾问 李兰</p>
												</dd>
											</dl>
											<dl class="clearfix">
												<dt><i class="icon3"></i></dt>
												<dd>
													<p>2015-05-04 14:30</p>
													<p>杨大志</p>
													<p class="track-tip">认购，看板房【意向等级B，意向房源4栋A单元608房间】，互动关联人：置业顾问 王聪</p>
												</dd>
											</dl>
											<dl class="clearfix">
												<dt><i class="icon5"></i></dt>
												<dd>
													<p>2015-05-04 11:30</p>
													<p>张先生</p>
													<p class="track-tip">到访，看板房【意向等级B，意向房源4栋A单元608房间】，互动关联人：置业顾问 王聪</p>
												</dd>
											</dl>
											<dl class="clearfix">
												<dt><i class="icon5"></i></dt>
												<dd>
													<p>2015-05-04 11:30</p>
													<p>蓝晓</p>
													<p class="track-tip">到访，看板房【意向等级B，意向房源4栋A单元608房间】，互动关联人：置业顾问 王聪</p>
												</dd>
											</dl>
											<dl class="clearfix">
												<dt><i class="icon4"></i></dt>
												<dd>
													<p>2015-05-04 11:00</p>
													<p>张高</p>
													<p class="track-tip">来电，咨询项目【意向等级B，意向房源4栋A单元608房间】，互动关联人：置业顾问 王聪</p>
												</dd>
											</dl>
											<dl class="clearfix">
												<dt><i class="icon2"></i></dt>
												<dd>
													<p>2015-05-04 15:00</p>
													<p>明云</p>
													<p class="track-tip">签约，房源4栋A单元608房间，互动关联人：职业顾问 李兰</p>
												</dd>
											</dl>
											<dl class="clearfix">
												<dt><i class="icon3"></i></dt>
												<dd>
													<p>2015-05-04 11:30</p>
													<p>杨仁和</p>
													<p class="track-tip">认购，看板房【意向等级B，意向房源4栋A单元608房间】，互动关联人：置业顾问 王聪</p>
												</dd>
											</dl>
											<dl class="clearfix">
												<dt><i class="icon5"></i></dt>
												<dd>
													<p>2015-05-04 11:30</p>
													<p>周先生</p>
													<p class="track-tip">到访，看板房【意向等级B，意向房源4栋A单元608房间】，互动关联人：置业顾问 王聪</p>
												</dd>
											</dl>
											<dl class="clearfix">
												<dt><i class="icon5"></i></dt>
												<dd>
													<p>2015-05-04 11:30</p>
													<p>王老太</p>
													<p class="track-tip">到访，看板房【意向等级B，意向房源4栋A单元608房间】，互动关联人：置业顾问 王聪</p>
												</dd>
											</dl>
											<dl class="clearfix">
												<dt><i class="icon4"></i></dt>
												<dd>
													<p>2015-05-04 11:30</p>
													<p>高高</p>
													<p class="track-tip">来电，咨询项目【意向等级B，意向房源4栋A单元608房间】，互动关联人：置业顾问 王聪</p>
												</dd>
											</dl>
											<dl class="clearfix">
												<dt><i class="icon5"></i></dt>
												<dd>
													<p>2015-05-04 11:30</p>
													<p>王老太</p>
													<p class="track-tip">到访，看板房【意向等级B，意向房源4栋A单元608房间】，互动关联人：置业顾问 王聪</p>
												</dd>
											</dl>
											<dl class="last clearfix">
												<dt><i class="icon4"></i></dt>
												<dd>
													<p>2015-05-04 11:30</p>
													<p>高高</p>
													<p class="track-tip">来电，咨询项目【意向等级B，意向房源4栋A单元608房间】，互动关联人：置业顾问 王聪</p>
												</dd>
											</dl>
											-->
										</div>
									</div>

								</div>
							</tab>
						</tabset>

					</div>
				</div>
				
			</div>

			


			<div class="margin-top-20 box-shadow-1 border-radius-3 relational-info customer-subdivision-info">
				<h2>客户细分</h2>
				<div class="customer-subdivision clearfix">

					<div class="subdivision-tab tabs-nav">
						<ul>
							<li class="clearfix" ng-model="houseCst">
								<span class="title">全部客户</span>
								<span class="num">{{houseCstSum}}</span>
								<!-- <span class="range rise"><i></i>300</span> -->
							</li>
							<li class="clearfix tab-nav" ng-init="clientClassify='buyed'" ng-click="clientClassify='buyed'">
								<a href="javascript:;">
									<span class="title">已购客户</span>
									<span class="num">{{houseCst.customer_bought_sum}}</span>
									<!-- <span class="range fall"><i></i>300</span> -->
									<i class="arrow"></i>
								</a>
							</li>
							<li class="clearfix tab-nav" ng-click="clientClassify='intent'">
								<a href="javascript:;">
									<span class="title">意向客户</span>
									<span class="num">{{houseCst.customer_intention_sum}}</span>
									<!-- <span class="range rise"><i></i>300</span> -->
									<i class="arrow"></i>
								</a>
							</li>
							<li class="clearfix tab-nav" ng-click="clientClassify='lease'">
								<a href="javascript:;">
									<span class="title">租赁客户</span>
									<span class="num">0</span>
									<!-- <span class="range flat"><i></i>0</span> -->
									<i class="arrow"></i>
								</a>
							</li>
						</ul>
					</div>

					<div class="subdivision-content tabs-content">
						<div class="subdivision-content-main tab-inside">
							<h3>已购客户分类</h3>
							<table class="table table-condensed">
								<tr>
									<th>重复购买客户</th>
									<th>自住客户</th>
									<th>期房客户</th>
									<th>更换业主</th>
								</tr>
								<!-- <tr>
									<td class="range rise">400<i></i></td>
									<td class="range fall">100<i></i></td>
									<td class="range flat">0<i></i></td>
									<td class="range fall">10<i></i></td>
								</tr> -->
								<tr ng-model="houseyg">
									<td>{{houseyg.customer_invest_sum}}</td>
									<td>{{houseyg.customer_self_sum}}</td>
									<td>{{houseyg.customer_forward_sum}}</td>
									<td>{{houseyg.customer_change_sum}}</td>
								</tr>
							</table>
						</div>
						<div class="subdivision-content-main tab-inside">
							<h3>意向客户分类</h3>
							<table class="table table-condensed">
								<tr>
									<th>跟进中</th>
									<th>已逾期</th>
									<th>已流失</th>
								</tr>
								<!-- <tr>
									<td class="range rise">400<i></i></td>
									<td class="range fall">100<i></i></td>
									<td class="range flat">0<i></i></td>
								</tr> -->
								<tr>
									<td>{{houseyg.customer_follow_sum}}</td>
									<td>{{houseyg.customer_expect_sum}}</td>
									<td>{{houseyg.customer_away_sum}}</td>
								</tr>
							</table>
						</div>
						<div class="subdivision-content-main tab-inside">
							<h3>租赁客户分类</h3>
							<table class="table table-condensed">
								<tr>
									<th>有效租赁客户</th>
									<th>历史租赁客户</th>
								</tr>
								<tr>
									<td class="range flat">0<i></i></td>
									<td class="range flat">0<i></i></td>
								</tr>
								<tr>
									<td>0</td>
									<td>0</td>
								</tr>
							</table>
						</div>
					</div>

				</div>
			</div>



			<div class="margin-top-20 clearfix" ng-show="clientClassify=='buyed'">
				<div class="age-distribution">
					<div class="box-shadow-1 border-radius-3 relational-info age-distribution-main">
					    <h2>年龄分布</h2>
						<!-- <h2>年龄分布<i >&nbsp;&nbsp;&nbsp;<span>[<font color="#2894FF">{{RptProj}}</font>]--><!-- [<font color="#2894FF">{{ageName}}</font>:<font color="red">{{ageValue!=null?" "+ageValue:"无"}}</font>]</span></i></h2> -->
						<div class="age-distribution-content">
							<div class="distribution-tip">
								<ul>
									<li class="age{{$index+1}}" ng-repeat="agevalue in age"><i></i><span>{{agevalue.customer_age_type}}</span><b>{{agevalue.customer_age_sum}}</b></li>
									<!-- <li class="age2"><i></i><span>20-34岁</span><b>7600</b></li>
									<li class="age3"><i></i><span>35-44岁</span><b>2800</b></li>
									<li class="age4"><i></i><span>45-54岁</span><b>2600</b></li>
									<li class="age5"><i></i><span>55-64岁</span><b>2100</b></li>
									<li class="age6"><i></i><span>64岁以上</span><b>800</b></li>
									<li class="age7"><i></i><span>未知</span><b>800</b></li> -->
								</ul>
							</div>
							<div class="distribution-chart">
								<highchart class="chart" config="chartConfig4"></highchart>
							</div>
							
						</div>
					</div>
				</div>
				<div class="work-industry">
					<div class="box-shadow-1 border-radius-3 relational-info work-industry-main">
						<h2>从事行业</h2>
						<div class="work-industry-content">
							<highchart class="chart" config="chartConfig5"></highchart>
						</div>
					</div>
				</div>
			</div>


			<div class="margin-top-20 box-shadow-1 border-radius-3 relational-info register-area" ng-show="clientClassify=='buyed'">
				<h2>籍贯区域 <i >&nbsp;&nbsp;&nbsp;<span>[<font color="#2894FF">{{RptProj}}</font>]-->[<font color="#2894FF">{{RptAreaName}}</font>:<font color="red">{{RptAreaNum!=null?" "+RptAreaNum:"无"}}</font>]</span></i></h2>
				<div class="register-area-content">
					<highchart class="chart" config="chartConfig6"></highchart>
				</div>
			</div>


		</div>
	</div>


</div>