<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxit.mgt.pmp.dao.BareaCompanyDao">
	 
	 <resultMap id="AreaMap" type="com.sxit.mgt.pmp.dto.BareaCompany" >
		<result column="companyCode" property="companyCode" jdbcType="VARCHAR" />
		<result column="companyName" property="companyName" jdbcType="VARCHAR" />
		<result column="areaCode" property="areaCode" jdbcType="VARCHAR" />
		<result column="areaName" property="areaName" jdbcType="VARCHAR" />
	 </resultMap>
	 
	<select id="getAreaList" resultMap="AreaMap" >
		select 
		area.areaCode areaCode,
		area.areaName areaName
		FROM
		(
			select
			a.companyCode, a.companyName, b.companyCode areaCode, b.companyName areaName 
			from b_area_company a, b_area_company b 
  			where 
  			a.companyType=0 and a.parentGUID=b.companyGUID and b.companyCode != 'zb'
		) area
		group by area.areaCode, area.areaName
	</select>
	
	<select id="getCompanyList" resultMap="AreaMap" parameterType="java.lang.String">
		select 
		area.companyCode,
		area.companyName
		FROM
		(
			select a.companyCode, a.companyName, b.companyCode areaCode, b.companyName areaName from b_area_company a,b_area_company b 
  			where a.companyType=0 and a.parentGUID=b.companyGUID and b.companyCode != 'zb'
		) area
		where
		area.areaCode = #{areaCode}
	</select>

</mapper>
