<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxit.mgt.pmp.dao.RptProjCstIndustryDao" > 
<!-- Result Map-->
<resultMap id="RptProjCstIndustryMap" type="com.sxit.model.pmp.RptProjCstIndustry" >
	<result column="cst_industry_id" property="cst_industry_id" jdbcType="INTEGER"/>
	<result column="proj_id" property="proj_id" jdbcType="INTEGER"/>
	<result column="industry_id" property="industry_id" jdbcType="VARCHAR"/>
	<result column="cst_num" property="cst_num" jdbcType="INTEGER"/>
	<result column="create_time" property="create_time" jdbcType="TIMESTAMP"/>
</resultMap>
       
<!-- rpt_proj_cst_industry table all fields -->
<sql id="Base_Column_List" >
	 cst_industry_id,proj_id,industry_id,cst_num,create_time
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="cst_industry_id != null" >
	    and cst_industry_id =  #{cst_industry_id}
	</if>
	 	<if test="proj_id != null and proj_id != ''" >
	    and proj_id =  #{proj_id}
	</if>
	 	<if test="industry_id != null and industry_id != ''" >
	    and industry_id =  #{industry_id}
	</if>
	<if test="cst_num != null" >
	    and cst_num =  #{cst_num}
	</if>
	<if test="create_time != null" >
	    and create_time =  #{create_time}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey>
  insert into rpt_proj_cst_industry(cst_industry_id,proj_id,industry_id,cst_num,create_time)
 values(#{cst_industry_id},#{proj_id},#{industry_id},#{cst_num},#{create_time})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update rpt_proj_cst_industry set proj_id=#{proj_id},industry_id=#{industry_id},cst_num=#{cst_num},create_time=#{create_time} where cst_industry_id=#{cst_industry_id}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update rpt_proj_cst_industry set 
	<trim  suffixOverrides="," >
	<if test="proj_id != null  and proj_id != '' ">
		proj_id=#{proj_id},
	</if>
	<if test="industry_id != null  and industry_id != '' ">
		industry_id=#{industry_id},
	</if>
	<if test="cst_num != null  ">
		cst_num=#{cst_num},
	</if>
	<if test="create_time != null  ">
		create_time=#{create_time},
	</if>
	</trim> where cst_industry_id=#{cst_industry_id}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from rpt_proj_cst_industry where cst_industry_id = #{cst_industry_id}
</delete>
 
<!-- 根据id查询 rpt_proj_cst_industry -->
<select id="RptProjCstIndustryById"  resultMap="RptProjCstIndustryMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from rpt_proj_cst_industry where proj_id = #{proj_id}
</select>

<!-- rpt_proj_cst_industry 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from rpt_proj_cst_industry 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询rpt_proj_cst_industry列表 -->
<select id="queryByList" resultMap="RptProjCstIndustryMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from rpt_proj_cst_industry 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
  	
</mapper>   
