<div ng-controller="ProjectHomeListCtrl" ng-init="initializeController()">

	<div class="project-list project-list-tab2 margin-top-30 box-shadow-1 border-radius-3">
		<div class="project-list-header">
			<div class="project-list-header-inside clearfix">
				<div class="project-list-header-search pull-right">
					<ul>
						<li>
							<select name="" id="" class="form-control">
								<option value="">请选择区域</option>
								<option value="">全国</option>
								<option value="">华中区域</option>
								<option value="">华北区域</option>
							</select>
						</li>
						<li>
							<select name="" id="" class="form-control">
								<option value="">请选择城市</option>
								<option value="">北京</option>
								<option value="">上海</option>
							</select>
						</li>
						<li><button type="submit" class="btn btn-primary">搜索</button></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="project-list-main">
			<ul class="clearfix">
				<li>
					<a ui-sref="app.project.details({'projectId': 100321})" class="clearfix">
						<h2 class="clearfix">
							<p class="cj">
								<span class="key">已出售：</span>
								<span class="value"><b>6525</b>套</span>
							</p>
							<p class="je">
								<span class="key">已租赁：</span>
								<span class="value"><b>895.9</b>套</span>
							</p>
							<p class="bl">
								<span class="key">盘源数：</span>
								<span class="value"><b>78.8</b>套</span>
							</p>
						</h2>
						<h3>海滨假日</h3>
					</a>
				</li>
				<li>
					<a ui-sref="app.project.details({'projectId': 100321})" class="clearfix">
						<h2 class="clearfix">
							<p class="cj">
								<span class="key">已出售：</span>
								<span class="value"><b>6525</b>套</span>
							</p>
							<p class="je">
								<span class="key">已租赁：</span>
								<span class="value"><b>895.9</b>套</span>
							</p>
							<p class="bl">
								<span class="key">盘源数：</span>
								<span class="value"><b>78.8</b>套</span>
							</p>
						</h2>
						<h3>海滨假日</h3>
					</a>
				</li>
				<li>
					<a ui-sref="app.project.details({'projectId': 100321})" class="clearfix">
						<h2 class="clearfix">
							<p class="cj">
								<span class="key">已出售：</span>
								<span class="value"><b>6525</b>套</span>
							</p>
							<p class="je">
								<span class="key">已租赁：</span>
								<span class="value"><b>895.9</b>套</span>
							</p>
							<p class="bl">
								<span class="key">盘源数：</span>
								<span class="value"><b>78.8</b>套</span>
							</p>
						</h2>
						<h3>海滨假日</h3>
					</a>
				</li>
				<li>
					<a ui-sref="app.project.details({'projectId': 100321})" class="clearfix">
						<h2 class="clearfix">
							<p class="cj">
								<span class="key">已出售：</span>
								<span class="value"><b>6525</b>套</span>
							</p>
							<p class="je">
								<span class="key">已租赁：</span>
								<span class="value"><b>895.9</b>套</span>
							</p>
							<p class="bl">
								<span class="key">盘源数：</span>
								<span class="value"><b>78.8</b>套</span>
							</p>
						</h2>
						<h3>海滨假日</h3>
					</a>
				</li>
				<li>
					<a ui-sref="app.project.details({'projectId': 100321})" class="clearfix">
						<h2 class="clearfix">
							<p class="cj">
								<span class="key">已出售：</span>
								<span class="value"><b>6525</b>套</span>
							</p>
							<p class="je">
								<span class="key">已租赁：</span>
								<span class="value"><b>895.9</b>套</span>
							</p>
							<p class="bl">
								<span class="key">盘源数：</span>
								<span class="value"><b>78.8</b>套</span>
							</p>
						</h2>
						<h3>海滨假日</h3>
					</a>
				</li>
				<li>
					<a ui-sref="app.project.details({'projectId': 100321})" class="clearfix">
						<h2 class="clearfix">
							<p class="cj">
								<span class="key">已出售：</span>
								<span class="value"><b>6525</b>套</span>
							</p>
							<p class="je">
								<span class="key">已租赁：</span>
								<span class="value"><b>895.9</b>套</span>
							</p>
							<p class="bl">
								<span class="key">盘源数：</span>
								<span class="value"><b>78.8</b>套</span>
							</p>
						</h2>
						<h3>海滨假日</h3>
					</a>
				</li>
				<li>
					<a ui-sref="app.project.details({'projectId': 100321})" class="clearfix">
						<h2 class="clearfix">
							<p class="cj">
								<span class="key">已出售：</span>
								<span class="value"><b>6525</b>套</span>
							</p>
							<p class="je">
								<span class="key">已租赁：</span>
								<span class="value"><b>895.9</b>套</span>
							</p>
							<p class="bl">
								<span class="key">盘源数：</span>
								<span class="value"><b>78.8</b>套</span>
							</p>
						</h2>
						<h3>海滨假日</h3>
					</a>
				</li>
				<li>
					<a ui-sref="app.project.details({'projectId': 100321})" class="clearfix">
						<h2 class="clearfix">
							<p class="cj">
								<span class="key">已出售：</span>
								<span class="value"><b>6525</b>套</span>
							</p>
							<p class="je">
								<span class="key">已租赁：</span>
								<span class="value"><b>895.9</b>套</span>
							</p>
							<p class="bl">
								<span class="key">盘源数：</span>
								<span class="value"><b>78.8</b>套</span>
							</p>
						</h2>
						<h3>海滨假日</h3>
					</a>
				</li>
				<li>
					<a ui-sref="app.project.details({'projectId': 100321})" class="clearfix">
						<h2 class="clearfix">
							<p class="cj">
								<span class="key">已出售：</span>
								<span class="value"><b>6525</b>套</span>
							</p>
							<p class="je">
								<span class="key">已租赁：</span>
								<span class="value"><b>895.9</b>套</span>
							</p>
							<p class="bl">
								<span class="key">盘源数：</span>
								<span class="value"><b>78.8</b>套</span>
							</p>
						</h2>
						<h3>海滨假日</h3>
					</a>
				</li>
				<li>
					<a ui-sref="app.project.details({'projectId': 100321})" class="clearfix">
						<h2 class="clearfix">
							<p class="cj">
								<span class="key">已出售：</span>
								<span class="value"><b>6525</b>套</span>
							</p>
							<p class="je">
								<span class="key">已租赁：</span>
								<span class="value"><b>895.9</b>套</span>
							</p>
							<p class="bl">
								<span class="key">盘源数：</span>
								<span class="value"><b>78.8</b>套</span>
							</p>
						</h2>
						<h3>海滨假日</h3>
					</a>
				</li>
				<li>
					<a ui-sref="app.project.details({'projectId': 100321})" class="clearfix">
						<h2 class="clearfix">
							<p class="cj">
								<span class="key">已出售：</span>
								<span class="value"><b>6525</b>套</span>
							</p>
							<p class="je">
								<span class="key">已租赁：</span>
								<span class="value"><b>895.9</b>套</span>
							</p>
							<p class="bl">
								<span class="key">盘源数：</span>
								<span class="value"><b>78.8</b>套</span>
							</p>
						</h2>
						<h3>海滨假日</h3>
					</a>
				</li>
				<li>
					<a ui-sref="app.project.details({'projectId': 100321})" class="clearfix">
						<h2 class="clearfix">
							<p class="cj">
								<span class="key">已出售：</span>
								<span class="value"><b>6525</b>套</span>
							</p>
							<p class="je">
								<span class="key">已租赁：</span>
								<span class="value"><b>895.9</b>套</span>
							</p>
							<p class="bl">
								<span class="key">盘源数：</span>
								<span class="value"><b>78.8</b>套</span>
							</p>
						</h2>
						<h3>海滨假日</h3>
					</a>
				</li>
				<li>
					<a ui-sref="app.project.details({'projectId': 100321})" class="clearfix">
						<h2 class="clearfix">
							<p class="cj">
								<span class="key">已出售：</span>
								<span class="value"><b>6525</b>套</span>
							</p>
							<p class="je">
								<span class="key">已租赁：</span>
								<span class="value"><b>895.9</b>套</span>
							</p>
							<p class="bl">
								<span class="key">盘源数：</span>
								<span class="value"><b>78.8</b>套</span>
							</p>
						</h2>
						<h3>海滨假日</h3>
					</a>
				</li>
				<li>
					<a ui-sref="app.project.details({'projectId': 100321})" class="clearfix">
						<h2 class="clearfix">
							<p class="cj">
								<span class="key">已出售：</span>
								<span class="value"><b>6525</b>套</span>
							</p>
							<p class="je">
								<span class="key">已租赁：</span>
								<span class="value"><b>895.9</b>套</span>
							</p>
							<p class="bl">
								<span class="key">盘源数：</span>
								<span class="value"><b>78.8</b>套</span>
							</p>
						</h2>
						<h3>海滨假日</h3>
					</a>
				</li>
				<li>
					<a ui-sref="app.project.details({'projectId': 100321})" class="clearfix">
						<h2 class="clearfix">
							<p class="cj">
								<span class="key">已出售：</span>
								<span class="value"><b>6525</b>套</span>
							</p>
							<p class="je">
								<span class="key">已租赁：</span>
								<span class="value"><b>895.9</b>套</span>
							</p>
							<p class="bl">
								<span class="key">盘源数：</span>
								<span class="value"><b>78.8</b>套</span>
							</p>
						</h2>
						<h3>海滨假日</h3>
					</a>
				</li>
				<li>
					<a ui-sref="app.project.details({'projectId': 100321})" class="clearfix">
						<h2 class="clearfix">
							<p class="cj">
								<span class="key">已出售：</span>
								<span class="value"><b>6525</b>套</span>
							</p>
							<p class="je">
								<span class="key">已租赁：</span>
								<span class="value"><b>895.9</b>套</span>
							</p>
							<p class="bl">
								<span class="key">盘源数：</span>
								<span class="value"><b>78.8</b>套</span>
							</p>
						</h2>
						<h3>海滨假日</h3>
					</a>
				</li>
			</ul>

		</div>
	</div>

	<div class="project-page clearfix">
		<pagination max-size="10" rotate="false" boundary-links="true" total-items="TotalRows" items-per-page="PageSize"
            ng-change="pageChanged()" ng-model="CurrentPageNumber" class="pagination-default"
            previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页" style="margin: 0; display: block;"></pagination>
	</div>
</div>



