<div ng-controller="CustomerQueryController" ng-init="initializeController()">
	<div class="title-position box-shadow-1 clearfix">
		<h1><a href="javascript:;" class="history-back back-button">返回</a>客服住户查询</h1>
		<h2><a class="glyphicon glyphicon-home" href=""><i>首页</i></a> > 项目 > 项目画像 > 客服住户查询</h2>
	</div>


	<div class="content">
		<div class="content-main">
			<div class="sales-query property-query box-shadow-1 border-radius-3">
				
				<div class="query-header clearfix">
					<div class="query-unit">
						<ul>
							<li>
								<div class="query-unit-key">楼栋</div>
								<div class="query-unit-value">
									<select name="" id="" class="form-control">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
								</div>
							</li>
							<li>
								<div class="query-unit-key">单元</div>
								<div class="query-unit-value">
									<select name="" id="" class="form-control">
										<option value="1">A</option>
										<option value="2">B</option>
										<option value="3">C</option>
										<option value="4">D</option>
									</select>
								</div>
							</li>
						</ul>
					</div>
					<div class="query-submit query-customer-submit">
						<div class="query-submit-search form-inline">
							<button type="submit" class="btn btn-primary pull-right">查询</button>
							<div class="form-group form-title pull-left">
								<p class="form-control-static">房间号</p>
							</div>
							<div class="form-input">
								<input type="text" class="form-control" placeholder="请输入房间号">
							</div>
						</div>
					</div>
				</div>

				<div class="query-content query-property-content clearfix">
					<div class="query-content-building">
						<ul>
							<li><a href="javascript:;" class="active">1</a></li>
							<li><a href="javascript:;">2</a></li>
							<li><a href="javascript:;">3</a></li>
							<li><a href="javascript:;">4</a></li>
							<li><a href="javascript:;">5</a></li>
						</ul>
					</div>
					<div class="query-content-unit">
						<ul>
							<li><a href="javascript:;" class="active">A</a></li>
							<li><a href="javascript:;">B</a></li>
							<li><a href="javascript:;">C</a></li>
							<li><a href="javascript:;">D</a></li>
						</ul>
					</div>
					<div class="query-content-house">
						<ul>
							<li>
								<a ui-sref="app.project.houseDetails({'houseId': 100321})">
									<h3>1101</h3>
									<h4>
										<p>投诉 : 12单</p>
										<p>报修 : 23单</p>
									</h4>
								</a>
							</li>
							<li>
								<a ui-sref="app.project.houseDetails({'houseId': 100321})">
									<h3>1101</h3>
									<h4>
										<p>投诉 : 12单</p>
										<p>报修 : 23单</p>
									</h4>
								</a>
							</li>
							<li>
								<a ui-sref="app.project.houseDetails({'houseId': 100321})">
									<h3>1101</h3>
									<h4>
										<p>投诉 : 12单</p>
										<p>报修 : 23单</p>
									</h4>
								</a>
							</li>
							<li>
								<a ui-sref="app.project.houseDetails({'houseId': 100321})">
									<h3>1101</h3>
									<h4>
										<p>投诉 : 12单</p>
										<p>报修 : 23单</p>
									</h4>
								</a>
							</li>
							<li>
								<a ui-sref="app.project.houseDetails({'houseId': 100321})">
									<h3>1101</h3>
									<h4>
										<p>投诉 : 12单</p>
										<p>报修 : 23单</p>
									</h4>
								</a>
							</li>
							<li>
								<a ui-sref="app.project.houseDetails({'houseId': 100321})">
									<h3>1101</h3>
									<h4>
										<p>投诉 : 12单</p>
										<p>报修 : 23单</p>
									</h4>
								</a>
							</li>
							<li>
								<a ui-sref="app.project.houseDetails({'houseId': 100321})">
									<h3>1101</h3>
									<h4>
										<p>投诉 : 12单</p>
										<p>报修 : 23单</p>
									</h4>
								</a>
							</li>
							<li>
								<a ui-sref="app.project.houseDetails({'houseId': 100321})">
									<h3>1101</h3>
									<h4>
										<p>投诉 : 12单</p>
										<p>报修 : 23单</p>
									</h4>
								</a>
							</li>
							<li>
								<a ui-sref="app.project.houseDetails({'houseId': 100321})">
									<h3>1101</h3>
									<h4>
										<p>投诉 : 12单</p>
										<p>报修 : 23单</p>
									</h4>
								</a>
							</li>
							<li>
								<a ui-sref="app.project.houseDetails({'houseId': 100321})">
									<h3>1101</h3>
									<h4>
										<p>投诉 : 12单</p>
										<p>报修 : 23单</p>
									</h4>
								</a>
							</li>
							<li>
								<a ui-sref="app.project.houseDetails({'houseId': 100321})">
									<h3>1101</h3>
									<h4>
										<p>投诉 : 12单</p>
										<p>报修 : 23单</p>
									</h4>
								</a>
							</li>
							<li>
								<a ui-sref="app.project.houseDetails({'houseId': 100321})">
									<h3>1101</h3>
									<h4>
										<p>投诉 : 12单</p>
										<p>报修 : 23单</p>
									</h4>
								</a>
							</li>
							<li>
								<a ui-sref="app.project.houseDetails({'houseId': 100321})">
									<h3>1101</h3>
									<h4>
										<p>投诉 : 12单</p>
										<p>报修 : 23单</p>
									</h4>
								</a>
							</li>
							<li>
								<a ui-sref="app.project.houseDetails({'houseId': 100321})">
									<h3>1101</h3>
									<h4>
										<p>投诉 : 12单</p>
										<p>报修 : 23单</p>
									</h4>
								</a>
							</li>
							<li>
								<a ui-sref="app.project.houseDetails({'houseId': 100321})">
									<h3>1101</h3>
									<h4>
										<p>投诉 : 12单</p>
										<p>报修 : 23单</p>
									</h4>
								</a>
							</li>
							<li>
								<a ui-sref="app.project.houseDetails({'houseId': 100321})">
									<h3>1101</h3>
									<h4>
										<p>投诉 : 12单</p>
										<p>报修 : 23单</p>
									</h4>
								</a>
							</li>
						</ul>
					</div>
				</div>
				

			</div>
		</div>
	</div>
</div>