<div ng-controller="LabelNetworkController" ng-init="initializeController()">
	<div class="title-position box-shadow-1 clearfix">
		<h1>标签</h1>
		<h2><a class="glyphicon glyphicon-home" href=""><i>首页</i></a> > 标签</h2>
	</div>

	<div class="content">
		<div class="content-main">
			<div class="label-main box-shadow-1 border-radius-3">
				<div class="label-title clearfix">
					<span class="fl" ng-show="stateShow == 'list'">全网（{{lableList.length}}）</span>
					<span class="fl" ng-show="stateShow == 'create'">创建标签</span>
					<button class="btn btn-default fr" ng-class="{'active': deleteNow,'btn-primary': deleteNow}" ng-show="lableList.length>0 && stateShow == 'list'" ng-click="selectDelete()" id="btnCreate"><b ng-show="!deleteNow">选 择</b><b ng-show="deleteNow">取 消</b></button>
					<button class="btn btn-default fr" ng-show="stateShow == 'list'" ng-click="changeShow('create')" id="btnCreate">创 建</button>
					<button class="btn btn-default fr" ng-show="stateShow == 'create'" ng-click="changeShow('list')">返 回</button>
				</div>


				<div class="container-fluid label-list-outer"  ng-show="stateShow == 'list'">
					<div class="row">
						<div class="no-labels" ng-show="lableList.length==0">暂时无数据</div>
						<div class="col-xs-4 col-lg-3" ng-repeat="label in lableList">
							<div class="label-list-inside">
								<div class="label-list">
									<a href="javascript:;" ng-class="{'added': label.hasAddDelete}" class="label-delete" ng-show="deleteNow" ng-click="addLabelDelete(label)"><i></i><span></span></a>
									<div class="label-list-header clearfix">
										<span class="label-list-persons">{{label.persons!=null?label.persons:0}}人</span>
										<div class="label-list-title text-ellipsis">{{label.labelAttr}}</div>
									</div>
									<div class="label-list-info">
										<h3 class="text-ellipsis">标签描述</h3>
										<h4>{{label.info}}</h4>
										<h5><a href="javascript:;" ng-click="shoSelectedModal(label.id)">已选条件</a></h5>
									</div>
									<div class="label-list-time"><h3>更新时间：{{label.updateTime}}</h3></div>
								</div>
							</div>
						</div>
						
						<div class="clear label-delete-sure" ng-show="deleteNow">
							<button class="btn btn-default btn-danger" ng-show="lableList.length>0 && !hasAddedLabel" ng-click="deleteAll()">删除全部</button>
							<button class="btn btn-default btn-danger" ng-show="lableList.length>0 && hasAddedLabel" ng-click="deleteAdded()">删除已选</button>
						</div>

						<!-- <div class="col-xs-4 col-lg-3">
							<div class="label-list-inside">
								<div class="label-list">
									<div class="label-list-header clearfix">
										<span class="label-list-persons">36人</span>
										<div class="label-list-title text-ellipsis">时尚新贵时尚新贵时尚新贵时尚新贵时尚新贵</div>
									</div>
									<div class="label-list-info">
										<h3 class="text-ellipsis">标签描述</h3>
										<h4>标签描述标签描述标签描述标签描述标签描述标签描述标签描述标签描述标签描述标签描述标签描述标签描述标签描述标签描述标签描述标签描述标签描述标签描述标签描述标签描述</h4>
										<h5><a href="javacript:;">已选条件</a></h5>
									</div>
									<div class="label-list-time"><h3>更新时间：2015-08-15 16:30:00</h3></div>
								</div>
							</div>
						</div> -->

						
					</div>
				</div>


				<div class="label-create" ng-show="stateShow == 'create'">
					<form class="form-horizontal" name="createForm" novalidate>
						<div class="form-group">
							<label for="labelAttr" class="col-sm-2 control-label">标签名称</label>
							<div class="control-input">
							<input type="text" ng-model="labelAttr" class="form-control" id="labelAttr" required placeholder="请输入标签名称">
							</div>
						</div>
						<div class="form-group">
							<label for="labelInfo" class="col-sm-2 control-label">标签描述</label>
							<div class="control-input">
							<input type="text" ng-model="labelInfo" class="form-control" id="labelInfo" required placeholder="如：找出异地项目准营销客户">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">已选条件</label>
							<div class="control-input">
								<div class="selected-conditions clearfix">
									<ul>
										<!-- <li>
											<span class="condition-title">性别</span>
											<span class="condition-value">男<a href="javascript:;" class="icons-bg"></a></span>
										</li>
										<li>
											<span class="condition-title">年龄</span>
											<span class="condition-value">20-34<a href="javascript:;" class="icons-bg"></a></span>
										</li> -->
										<li ng-repeat="c in conditionSelected">
											<span class="condition-title"><b ng-bind="c.showSupTitle?(c.supTitle + ' | ' + c.title):c.title"></b></span>
											<span class="condition-value"><b ng-bind="c.subTitle?(c.optionName + ' + ' + c.subTitle):c.optionName"></b><a href="javascript:;" class="icons-bg" ng-click="deleteSelected(c)"></a></span>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="conditions-list box-shadow-1 border-radius-3">
							<div class="conditions-tabs tabs-nav">
								<ul class="clearfix">
									<li class="tab-nav"><a href="javascript:;">通用特征</a></li>
									<li class="tab-nav"><a href="javascript:;">客户特征</a></li>
									<!-- <li class="tab-nav"><a href="javascript:;">意向客户</a></li>
									<li class="tab-nav"><a href="javascript:;">投资客户</a></li>
									<li class="tab-nav"><a href="javascript:;">自住客户</a></li>
									<li class="tab-nav"><a href="javascript:;">期房客户</a></li>
									<li class="tab-nav"><a href="javascript:;">流失客户</a></li> -->
								</ul>
							</div>
							<div class="conditions-main tabs-content">

								<!-- 通用特征选项开始 -->
								<div class="condition-container tab-inside clearfix">

									<div class="condition-list clearfix" ng-repeat="c in conditionCommon.children">
										<div class="condition-list-title">{{c.value.title}}</div>
										<div class="condition-list-options">
											<label class="btn btn-default" ng-class="{'active': getScope(c.value.model) == option.value.optionsvalue}" ng-repeat="option in c['children']" ng-click="setSelected($event, c.value.model, c.value.title, option, conditionCommon.value.roottitle, conditionCommon.value.suptitle, conditionCommon.value.showsubtitle)">{{option.value.optionsname}}</label>
										</div>
									</div>

									<!-- <div class="condition-list clearfix">
										<div class="condition-list-title">{{sex.title}}</div>
										<div class="condition-list-options">
									<label class="btn btn-default" ng-class="{'active': sexModel == sexOption.value}" data-model="{{sex.model}}" data-sortTitle="{{sex.title}}" data-radio="{{sexOption.value}}" ng-repeat="sexOption in sex.options" ng-click="setSelected($event, sexOption)">{{sexOption.name}}</label>
										</div>
									</div> -->

									
								</div>
								<!-- 通用特征选项结束 -->


								<!-- 意向客户选项开始 -->
								<div class="condition-container tab-inside clearfix">


									<div class="clients-tab tabs-nav">
										<ul class="clearfix">
											<li class="tab-nav" ng-click="changeClientTab($event)"><a href="javascript:;">意向客户</a></li>
											<li class="tab-nav" ng-click="changeClientTab($event)"><a href="javascript:;">投资客户</a></li>
											<li class="tab-nav" ng-click="changeClientTab($event)"><a href="javascript:;">自住客户</a></li>
											<li class="tab-nav" ng-click="changeClientTab($event)"><a href="javascript:;">期房客户</a></li>
											<li class="tab-nav" ng-click="changeClientTab($event)"><a href="javascript:;">流失客户</a></li>
										</ul>
									</div>

									<div class="tabs-content client-tab">
										
										<div class="tab-inside">
											<div class="condition-list clearfix" ng-repeat="c in intentClient.children">
												<div class="condition-list-title">{{c.value.title}}</div>
												<div class="condition-list-options">
													<label class="btn btn-default" ng-class="{'active': getScope(c.value.model) == option.value.optionsvalue}" ng-repeat="option in c['children']" ng-click="setSelected($event, c.value.model, c.value.title, option, intentClient.value.roottitle, intentClient.value.suptitle, intentClient.value.showsuptitle)">{{option.value.optionsname}}</label>

													<div class="condition-subs clear" ng-show="getScope(c.value.model + 'Subs').length>0">
														<label class="btn btn-default" ng-class="{'active': getScope(c.value.model + 'SubModel') == s.value.optionsvalue}" ng-repeat="s in getScope(c.value.model + 'Subs')" ng-click="setSelected($event, c.value.model, c.value.title, '', intentClient.value.roottitle, intentClient.value.suptitle, intentClient.value.showsuptitle, s)">{{s.value.subsname}}</label>
													</div>

												</div>
											</div>
										</div>

										<div class="tab-inside">
											<div class="condition-list clearfix" ng-repeat="c in investClient.children">
												<div class="condition-list-title">{{c.value.title}}</div>
												<div class="condition-list-options">
													<label class="btn btn-default" ng-class="{'active': getScope(c.value.model) == option.value.optionsvalue}" ng-repeat="option in c['children']" ng-click="setSelected($event, c.value.model, c.value.title, option, investClient.value.roottitle, investClient.value.suptitle, investClient.value.showsuptitle)">{{option.value.optionsname}}</label>

													<div class="condition-subs clear" ng-show="getScope(c.value.model + 'Subs').length>0">
														<label class="btn btn-default" ng-class="{'active': getScope(c.value.model + 'SubModel') == s.value.optionsvalue}" ng-repeat="s in getScope(c.value.model + 'Subs')" ng-click="setSelected($event, c.value.model, c.value.title, '', intentClient.value.roottitle, intentClient.value.suptitle, intentClient.value.showsuptitle, s)">{{s.value.subsname}}</label>
													</div>

												</div>
											</div>
										</div>

										<div class="tab-inside">
											<div class="condition-list clearfix" ng-repeat="c in selfLiveClient.children">
												<div class="condition-list-title">{{c.value.title}}</div>
												<div class="condition-list-options">
													<label class="btn btn-default" ng-class="{'active': getScope(c.value.model) == option.value.optionsvalue}" ng-repeat="option in c['children']" ng-click="setSelected($event, c.value.model, c.value.title, option, investClient.value.roottitle, investClient.value.suptitle, investClient.value.showsuptitle)">{{option.value.optionsname}}</label>

													<div class="condition-subs clear" ng-show="getScope(c.value.model + 'Subs').length>0">
														<label class="btn btn-default" ng-class="{'active': getScope(c.value.model + 'SubModel') == s.value.optionsvalue}" ng-repeat="s in getScope(c.value.model + 'Subs')" ng-click="setSelected($event, c.value.model, c.value.title, '', intentClient.value.roottitle, intentClient.value.suptitle, intentClient.value.showsuptitle, s)">{{s.value.subsname}}</label>
													</div>

												</div>
											</div>
										</div>

										<div class="tab-inside">
											<div class="condition-list clearfix" ng-repeat="c in toLiveClient.children">
												<div class="condition-list-title">{{c.value.title}}</div>
												<div class="condition-list-options">
													<label class="btn btn-default" ng-class="{'active': getScope(c.value.model) == option.value.optionsvalue}" ng-repeat="option in c['children']" ng-click="setSelected($event, c.value.model, c.value.title, option, investClient.value.roottitle, investClient.value.suptitle, investClient.value.showsuptitle)">{{option.value.optionsname}}</label>

													<div class="condition-subs clear" ng-show="getScope(c.value.model + 'Subs').length>0">
														<label class="btn btn-default" ng-class="{'active': getScope(c.value.model + 'SubModel') == s.value.options}" ng-repeat="s in getScope(c.value.model + 'Subs')" ng-click="setSelected($event, c.value.model, c.value.title, '', intentClient.value.roottitle, intentClient.value.suptitle, intentClient.value.showsuptitle, s)">{{s.value.subsname}}</label>
													</div>

												</div>
											</div>
										</div>

										<div class="tab-inside">
											<div class="condition-list clearfix" ng-repeat="c in loseClient.children">
												<div class="condition-list-title">{{c.value.title}}</div>
												<div class="condition-list-options">
													<label class="btn btn-default" ng-class="{'active': getScope(c.value.model) == option.value.optionsvalue}" ng-repeat="option in c['children']" ng-click="setSelected($event, c.value.model, c.value.title, option, investClient.value.roottitle, investClient.value.suptitle, investClient.value.showsuptitle)">{{option.value.optionsname}}</label>

													<div class="condition-subs clear" ng-show="getScope(c.value.model + 'Subs').length>0">
														<label class="btn btn-default" ng-class="{'active': getScope(c.value.model + 'SubModel') == s.value.optionsvalue}" ng-repeat="s in getScope(c.value.model + 'Subs')" ng-click="setSelected($event, c.value.model, c.value.title, '', intentClient.value.roottitle, intentClient.value.suptitle, intentClient.value.showsuptitle, s)">{{s.value.subsname}}</label>
													</div>

												</div>
											</div>
										</div>

									</div>

									
								</div>
								<!-- 意向客户选项结束 -->








							</div>
						</div>
						<div class="create-label-btn">
							<a class="btn btn-primary" ng-click="save()">提交</a>
							<a class="btn btn-default" ng-click="reset()">重置</a>
						</div>
					</form>
				</div>



			</div>

		</div>
	</div>



	<script type="text/ng-template" id="showSelectedModal.html" ng-controller="LabelNetworkController">
        <div>
            <div class="modal-header create-label-header">
                <h3 class="modal-title">已选条件 - {{labelAttr}}</h3>
                <button type="button" class="window_closeBtn close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body label-show-list">
                <div class="selected-conditions clearfix">
					<ul>
						<li ng-repeat="condition in labelsSelected" data-modelName="{{condition.modelName}}" data-value="{{condition.optionValue}}">
							<span class="condition-title">{{condition.sortTitle}}</span>
							<span class="condition-value">{{condition.optionName}}</span>
						</li>
						<li class="no-border" ng-show="labelsSelected.length <= 0">暂无选中条件</li>
					</ul>
				</div>
            </div>
        </div>
    </script>


</div>

